@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
} */

.container {
  @apply  max-w-7xl mx-auto px-4;
}

.container-sm {
  @apply max-w-2xl mx-auto px-4;
}

.row {
  @apply flex flex-wrap;
}

h1, .h1 {
  @apply text-4xl font-bold font-display mb-6 mt-2 leading-tight;
}

h2, .h2 {
  @apply text-2xl font-semibold font-display text-gray-800 mb-6 mt-2 leading-tight;
}

h3, .h3 {
  @apply text-xl font-semibold font-display text-gray-800 mb-4 mt-2;
}

h4, .h4 {
  @apply text-lg font-semibold font-display text-gray-800 mb-4 mt-2;
}

h5, .h5 {
  @apply text-base font-semibold font-display text-gray-700 uppercase;
}

h6, .h6 {
  @apply text-sm font-semibold font-display text-gray-800 uppercase;
}

p, .p {
  @apply text-gray-600 leading-6;
}

.p-small {
  @apply text-sm text-gray-700 leading-6;
}

.p-xsmall {
  @apply text-xs text-gray-700;
}

.p-large {
  @apply text-lg text-gray-700;
}